.aviso {
  background-color: rgb(255, 35, 35);
  padding: 50px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 30px;
  border: solid white 5px;
  position: absolute;
  top: 46%;
  user-select: none;
}

.ocultar-aviso {
  visibility: hidden;
}